.backgroundImage {
    background-image: url('../../public/Images/UI_design.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* max-height: fit-content; */
    /* z-index: -1; */
}

.element {
    will-change: transform;
}

.data-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  